@media screen and (min-width: 992px) {
	body {
		grid-template-columns: auto 2fr 1fr;
		grid-template-rows: 80px repeat(3, auto) 60px;
		grid-template-areas:
			'header header header'
			'nav intro skills'
			'nav  portfolio portfolio'
			'nav contact contact'
			'footer footer footer';
	}
	h1 {
		margin: 0 auto;
	}
	nav li a {
		font-size: 3vmin;
		font-weight: lighter;
	}
	.portfolioContent {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto repeat(3 1fr);
		gap: 3vw;
	}
	#project2 {
		position: relative;
		bottom: 25%;
	}
	#project4 {
		position: relative;
		bottom: 25%;
	}
	.slide + #skills {
		min-width: 100px;
		min-height: 20%;
	}
	#contact {
		margin: 0 20%;
	}
}
