@media screen and (min-width: 992px) {
	nav li a {
		font-size: 3vmin;
		font-weight: lighter;
	}
	.portfolioContent {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto repeat(3 1fr);
		gap: 3vw;
	}
	#project2,
	#project4 {
		position: relative;
		bottom: 10vmin;
	}
	.slide + #skills {
		min-width: 100px;
		min-height: 20%;
	}
	#contact {
		margin: 0 20%;
	}
	.weather {
		display: flex;
		flex-direction: column;
	}
}
