body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgray;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		'nav intro'
		'nav portfolio'
		'nav skills'
		'nav contact';
	gap: 4vmin;
	padding: 92px 3% 72px 0;
	line-height: 150%;
	min-width: 330px;
	font-size: 3vmin;
}
header {
	height: 80px;
	top: 0;
}
header,
footer {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	background: rgb(194, 189, 189);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header img {
	margin: 12px;
}
#menuIcon,
#menuX {
	width: 40px;
	height: 40px;
	opacity: 50%;
}
#menuX {
	display: none;
}
h1 {
	margin-left: 50px;
	font-size: 30px;
}
.slide,
.contentSlide,
.navSlide {
	background: rgba(253, 249, 249, 0.37);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	padding: 1em;
}
.slide {
	min-width: 330px;
}
.navSlide {
	display: none;
	grid-area: nav;
	padding-top: 6%;
	border-radius: 0 12px 12px 0;
	width: 8em;
}
nav li {
	margin: 25px 0 25px 20px;
}
nav li a {
	text-decoration: none;
	color: black;
	font-size: 4vmin;
}
#intro {
	grid-area: intro;
}
h2 {
	font-size: 6vmin;
	line-height: 120%;
	font-weight: bold;
	margin-bottom: 1.5%;
}
h3 {
	font-size: 5vmin;
	padding-bottom: 3%;
	font-weight: bold;
}
p {
	font-size: 16px;
	line-height: 160%;
}
#portfolio {
	grid-area: portfolio;
	background: rgba(253, 249, 249, 0.13);
}
#portfolio div p {
	margin-bottom: 3%;
}
.portfolioContent {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3vmin;
}
article img {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	display: block;
	margin: 0 auto;
}
h4 {
	font-size: 3vmin;
	margin: 5% 0;
	font-weight: bold;
}
h3,
article p {
	margin: 12px 0;
}
#skills {
	grid-area: skills;
}
#skills img {
	width: 30px;
	height: auto;
}
#contact {
	grid-area: contact;
}
footer {
	justify-content: space-between;
	height: 60px;
	bottom: 0;
}
footer p {
	margin-left: 24px;
	font-size: 12px;
}
footer ul {
	display: flex;
	align-items: center;
	margin-right: 1.5%;
}

.socialMediaIcons {
	width: 40px;
	height: 40px;
	opacity: 50%;
	margin: 6px;
}
