body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgray;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		'nav intro'
		'nav portfolio'
		'nav skills'
		'nav contact';
	gap: 12px;
	margin: 92px 0 72px 0;
}
header {
	/* grid-area: header; */
	height: 80px;

	top: 0;
}
header,
footer {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	background: rgb(194, 189, 189);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slide {
	background: rgba(253, 249, 249, 0.37);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-right: 12px;
	padding: 20px;
}
h1 {
	display: flex;
	margin-left: 50px;
	font-size: 30px;
}
#nav {
	display: none;
	grid-area: nav;
	width: 150px;
	padding-top: 30px;
	border-radius: 0 25px 25px 0;
}
nav li {
	margin: 25px 0 25px 20px;
}
nav li a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}
div {
	padding: 20px;
}
#intro {
	grid-area: intro;
}
h2 {
	font-size: 20px;
	margin: 10px 0 25px 0;
}
#portfolio {
	grid-area: portfolio;
	background: rgba(253, 249, 249, 0.13);
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}
#portfolio article {
	margin-right: 0;
}
article img {
	width: 80%;
	height: auto;
}
#skills {
	grid-area: skills;
}
#contact {
	grid-area: contact;
}
footer {
	/* grid-area: footer; */
	justify-content: space-between;
	height: 60px;
	bottom: 0;
}
footer p {
	margin-left: 24px;
	font-size: 12px;
}
footer ul {
	display: flex;
	align-items: center;
	margin-right: 12px;
}
#menuIcon,
#menuX {
	width: 40px;
	height: 40px;
	opacity: 50%;
}
#menuX {
	display: none;
}
.socialMediaIcons {
	width: 40px;
	height: 40px;
	opacity: 50%;
	margin: 6px;
}
