body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgray;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 80px repeat(4, auto) 60px;
	grid-template-areas:
		'header header'
		'nav intro'
		'nav portfolio'
		'nav skills'
		'nav contact'
		'footer footer';
	gap: 4vmin;
	padding-right: 3%;
	line-height: 150%;
	min-width: 330px;
	font-size: 3vmin;
	background-image: url('assets/thomas-griesbeck-Y2aNc1X7xLg-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.headerSpacer {
	grid-area: header;
}
header {
	height: 80px;
	top: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header,
footer {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	background: rgb(194, 189, 189);
	z-index: 1;
}
header img {
	margin: 12px;
}
#menuIcon,
#menuX {
	width: 40px;
	height: 40px;
	opacity: 50%;
}
#menuX {
	display: none;
}
h1 {
	margin-left: 50px;
	font-size: 30px;
}
.slide,
.contentSlide,
.navSlide {
	box-shadow: 4px 4px 4px rgba(48, 47, 47, 0.4);
	background-image: linear-gradient(
		to bottom right,
		rgba(194, 189, 189, 0.8),
		rgba(194, 189, 189, 0.4)
	);
	border-radius: 12px;
	padding: 1em;
}
.slide {
	min-width: 330px;
}
.navSlide {
	display: none;
	grid-area: nav;
	padding-top: 6%;
	border-radius: 0 12px 12px 0;
	width: 8em;
}
nav li {
	margin: 25px 0 25px 20px;
}
nav li a {
	text-decoration: none;
	color: black;
	font-size: 4vmin;
}
#intro {
	grid-area: intro;
}
h2 {
	font-size: 6vmin;
	line-height: 120%;
	font-weight: bold;
	margin-bottom: 1.5%;
}
h3 {
	font-size: 5vmin;
	padding-bottom: 3%;
	font-weight: bold;
}
p {
	font-size: 16px;
	line-height: 160%;
}
#portfolio {
	grid-area: portfolio;
	background-image: linear-gradient(
		to bottom right,
		rgba(194, 189, 189, 0.6),
		rgba(194, 189, 189, 0)
	);
}
#portfolio div p {
	margin-bottom: 3%;
}
.portfolioContent {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3vmin;
}
article img {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	display: block;
	margin: 0 auto;
}
h4 {
	font-size: 3vmin;
	margin: 0 0 5% 0;
	font-weight: bold;
}
h3,
article p {
	margin: 12px 0;
}
#skills {
	grid-area: skills;
}
#skills ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 3vmin;
	padding: 0 12%;
}
#skills li {
	display: grid;
	justify-items: center;
	align-items: center;
}
#skills img {
	width: 100%;
	height: auto;
	opacity: 50%;
	max-width: 100px;
}
#contact {
	grid-area: contact;
}
#contact ul {
	display: flex;
	justify-content: center;
	gap: 6%;
}
.contactIcons {
	width: 100px;
	height: auto;
	opacity: 50%;
}
footer {
	justify-content: space-between;
	height: 60px;
	bottom: 0;
}
footer p {
	margin-left: 24px;
	font-size: 12px;
}
footer ul {
	display: flex;
	margin-right: 3%;
}
footer li a {
	display: grid;
	justify-items: center;
	align-items: center;
}
.socialMediaIcons {
	width: 36px;
	height: auto;
	opacity: 50%;
	padding: 12px 6px;
}
.footerSpacer {
	grid-area: footer;
}
